@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gwypqp');
  src:  url('fonts/icomoon.eot?gwypqp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gwypqp') format('truetype'),
    url('fonts/icomoon.woff?gwypqp') format('woff'),
    url('fonts/icomoon.svg?gwypqp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-section_expand:before {
  content: "\e93c";
}
.icon-section_condense:before {
  content: "\e93d";
}
.icon-express:before {
  content: "\e93a";
}
.icon-shipping_pickup1:before {
  content: "\e93b";
}
.icon-couponcode_invalid:before {
  content: "\e92e";
}
.icon-couponcode_valid:before {
  content: "\e930";
}
.icon-delete:before {
  content: "\e931";
}
.icon-map:before {
  content: "\e935";
}
.icon-payment_card:before {
  content: "\e937";
}
.icon-payment_internetbanking:before {
  content: "\e939";
}
.icon-shipping_pickup:before {
  content: "\e940";
}
.icon-payment_counter:before {
  content: "\e92f";
  color: #100e37;
}
.icon-calendar:before {
  content: "\e932";
  color: #ccc;
}
.icon-edit:before {
  content: "\e933";
  color: #100e37;
}
.icon-installationincluded:before {
  content: "\e934";
}
.icon-view:before {
  content: "\e936";
  color: #100e37;
}
.icon-shipping_delivery_ecomomic:before {
  content: "\e938";
}
.icon-installation-v3:before {
  content: "\e92d";
  color: #3639b4;
}
.icon-survey:before {
  content: "\e92c";
  color: #3639b4;
}
.icon-guarantee:before {
  content: "\e927";
  color: #3639b4;
}
.icon-payless:before {
  content: "\e928";
  color: #3639b4;
}
.icon-payment:before {
  content: "\e929";
  color: #3639b4;
}
.icon-quotation:before {
  content: "\e92a";
  color: #3639b4;
}
.icon-time:before {
  content: "\e92b";
  color: #3639b4;
}
.icon-terms:before {
  content: "\e926";
  color: #535252;
}
.icon-phone:before {
  content: "\e925";
  color: #fff;
}
.icon-free-sample:before {
  content: "\e924";
  color: #535252;
}
.icon-installation-new:before {
  content: "\e923";
  color: #3639b4;
}
.icon-free-delivery:before {
  content: "\e922";
  color: #fff;
}
.icon-freesample:before {
  content: "\e921";
}
.icon-installation:before {
  content: "\e920";
  color: #3639b4;
}
.icon-bestdeal:before {
  content: "\e91f";
}
.icon-cart-new:before {
  content: "\e91c";
  color: #100e37;
}
.icon-profile-new:before {
  content: "\e91d";
  color: #fff;
}
.icon-wishlist-new:before {
  content: "\e91e";
  color: #100e37;
}
.icon-call:before {
  content: "\e917";
  color: #fff;
}
.icon-instagram:before {
  content: "\e918";
  color: #fff;
}
.icon-facebook:before {
  content: "\e91a";
  color: #fff;
}
.icon-line:before {
  content: "\e91b";
  color: #fff;
}
.icon-button-moredetail:before {
  content: "\e916";
}
.icon-ruler:before {
  content: "\e915";
}
.icon-profile:before {
  content: "\e902";
}
.icon-cart:before {
  content: "\e900";
}
.icon-wishlist2:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e912";
}
.icon-cart1:before {
  content: "\e914";
}
.icon-cart-add:before {
  content: "\e901";
}
.icon-cart-done:before {
  content: "\e903";
}
.icon-cart-filled:before {
  content: "\e904";
}
.icon-contractmanagment:before {
  content: "\e905";
}
.icon-deliver:before {
  content: "\e906";
}
.icon-delivery:before {
  content: "\e907";
}
.icon-DHL_logo .path1:before {
  content: "\e908";
  color: rgb(254, 204, 0);
}
.icon-DHL_logo .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(213, 0, 41);
}
.icon-doneorder:before {
  content: "\e90a";
}
.icon-downarrow:before {
  content: "\e90b";
}
.icon-email:before {
  content: "\e90c";
}
.icon-expand-arrow:before {
  content: "\e90d";
}
.icon-help:before {
  content: "\e90e";
}
.icon-help-center:before {
  content: "\e90f";
}
.icon-nocnoc-logo:before {
  content: "\e910";
}
.icon-pending:before {
  content: "\e911";
}
.icon-wishlist-active:before {
  content: "\e913";
}
