//$theme-primary: #227fe6;
//$theme-secondary: #fcf302;

//$theme-primary: #e14f50;
//$theme-secondary: #e14f50;

$theme-primary: #009ea7;
$theme-secondary: #e23f30;
$theme-tertiary: #e23f30;

/*color*/
$white: #ffffff;
$black: #000000;
$offwhite: #f7f7f7;
$grey: #303030;
$light-gray: #999;
$soft-gray: #cccccc;
$border: #ebebeb;
$light-red: #fdf5e8;
