.filterpanel{
    flex: 0 0 24rem;
    background-color: $white;
    margin-right: .7rem;
    border-radius: .1rem;
    border: 1px solid $soft-gray;
    h1{
        margin: 0;
        background-color: $white;
        text-transform:capitalize;
        font-size: 1.5rem;
        font-weight: 600;
        color: $theme-quaternary;
        padding: 1rem;
        border-bottom: 1px solid $soft-gray;
    }
    .clearall{
        float: right;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 1.3rem;
        font-weight: 550;
        color:$theme-primary;
        &:hover{
            color: $theme-tertiary;
        }
        i{
          font-style: normal;
        }
    }
    .card{
        border: 0;
        background: transparent;
    }
    .card-header{
        padding: 0;
        background-color: transparent;
        .btn{
            border-radius: 0;
            border: 0;
            text-decoration: none;
            text-align: left;
            text-transform: capitalize;
            font-size: 1.4rem;
            font-weight: 600;
            color:$filterlist;
            padding: .7rem 0;
            .fas{
                float: right;
                font-size: 1.1rem;
                color:$filterlist;
                margin-top: .5rem;
            }
            .fa-minus{
                display: block;
            }
            .fa-plus{
                display: none;
            }
            &.collapsed{
                .fa-plus{
                    display: block;
                }
                .fa-minus{
                    display: none;
                }
            }
        }
    }
    .card-body{
        padding: .5rem 0;
    }
    .custom-checkbox{
        margin: .5rem 0;
        .custom-control-input:checked~.custom-control-label::after{
            background-color: #c4c4c4;
        }
    }
    .custom-control-label{
        font-size: 1.3rem;
        text-transform: capitalize;
        line-height: 1.7rem;
        &::before,
        &::after{
            border-radius: .1rem;
            // border: .1rem solid #c4c4c4;
            border: 0;
        }
        &::before{
            background-color: #fff;
            border: 1px solid $checkboxbrder;
        }
    }
    .customer-review {
      padding: 0.3rem 0;
      a {
        color: $theme-primary;
        .rating {
          i {
            color: $grey;
          }
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
    .select-colour {
      .btn span.glyphicon {
        opacity: 0;
      }
      .btn.active span.glyphicon {
        opacity: 1;
      }
      .col-badge {
        width: 2rem;
        height: 2rem;
        display: inline-block;
        margin-right: .8rem;
        border-radius: .1rem;
        border-radius: 50%;
        margin-left: -2.3rem;
      }
      .custom-control-label{
        &:before {
          border-color: none;
          border-radius: 50%;
          border: 0;
          width: 2rem;
          height: 2rem;
          background: transparent;
        }
        &:after {
          border-radius: 50%;
          border-color: none;
          border: 0;
          width: 2rem;
          height: 2rem;
        }
      }
      .custom-control-input:checked~.custom-control-label::before {
        background-color: transparent;
      }
      .custom-control-input:checked~.custom-control-label::after {
        background-color: transparent;
      }
      .custom-control {
        display: inline;
      }
    }
}

.filter-pad{
    padding: 1rem;
}

.filterpanel{
    .col-badge{
        width: 1.6rem;
        height: 1.6rem;
        display: inline-block;
        margin-right: .8rem;
        border-radius: .1rem;
    }
}
.red{
    background-color: #e30047;
}
.green{
    background-color: palegreen;
}
.blue{
    background-color: blue;
}
.mediumaquamarine{
    background-color: mediumaquamarine;
}
.cyan{
    background-color: #5fcbef;
}

.filterpanel{
    .bx-price-slider{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        color: #c4c4c4;
        margin-top: 1rem;
        input{
            width: 60px;
            padding: .375rem .75rem;
            border-color: #ccc;
            font-size: 1.3rem;
            color: #c4c4c4;
        }
    }
}

/*Clear filter*/
.clear-filter {
  display: flex;
  flex-wrap: wrap;
  .clear-btn {
    display: flex;
    cursor: pointer;
    font-size: 1rem;
    background: $white;
    border: 0.1rem solid $border;
    color: $light-grey3;
    border-radius: 0.3rem;
    margin: 0.2rem 0.4rem 0.2rem 0;
    overflow: hidden;
    transition: background-color .1s;
    max-width: 15rem;
    padding:.3rem 0.6rem;
    &:hover {
      span {
        text-decoration: line-through;
      }
    }
    i {
      font-size: 1rem;
      display: inline-block;
      font-style: normal;
      color: $filtercross;
      font-weight: 600;
    }
    span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      vertical-align: bottom;
      margin-left: 8px;
      max-width: 90%;
      color: $dark-grey;
    }
  }
}
