@import "../css/icomoon.css";
@import "../css/sukhumvittadmai.css";
*,
*::after,
*::before{}
html{
    font-size: 62.5%; /* 0.625 x 16 = 10 Root */
}
a{
    &:link{
        color: $theme-primary;
    }
    &:hover{
        color: darken($theme-primary, 10%);
    }
}
body {
    // font-family: 'Roboto', sans-serif;
    font-family: 'sukhumvittadmai-medium';
    font-weight: 500;
    font-style: normal;
    background-color: $soft-grey-new;
    font-size: 1.3rem;
    overflow-x: hidden;
    // &:lang(th){
    //   font-family: 'Prompt', sans-serif;
    // }
    &.g-loader{
      overflow: hidden !important;
    }
    &.modal-open {
        padding-right: 0!important;
        .modal{
            padding-right: 0!important;
            @include breakpoint-down(sm) {
              margin-top: 4.5rem;
            }
            @include breakpoint-down(xs) {
              margin-top: 4.2rem;
            }
            .close{
                font-size: 3.5rem;
                font-weight: 300;

            }
        }
    }
}
.secondary-color{
  color: $theme-secondary;
}
// .number-font {
//   font-family: 'Lato', sans-serif !important;
// }
.whitespace-nowrap{
  white-space: nowrap;
}
.mand{
    color: $theme-secondary;
    margin-left: .25rem;
}
.pull-right {
    float: right;
}
.btn{
    font-size: 1.3rem;
    text-transform: capitalize;
    box-shadow: none!important;
    outline: none!important;
    border-radius: 0.4rem !important;
    padding-bottom: 0.2rem;
    transition: all 0.5s ease 0s;
    opacity: 1 !important;
    &.disabled {
      background: $border;
      color: $grey-border;
    }
    &:disabled {
      background: $border !important;
      color: $grey-border !important;
    }
    &-primary {
      background: $theme-primary;
      color: $white !important;
      border: 0;
      &:hover, &:active, &:visited {
        background: $theme-quaternary;
        color: $white !important;
      }
    }
    &-secondary {
      background: $white;
      color: $theme-primary !important;
      border: 0.1rem solid $theme-primary;
      &:hover, &:active, &:visited {
        background: $border;
        color: $grey-border !important;
        border: 0.1rem solid $border;
      }
      i {
        font-size: 2.5rem;
      }
    }
    &-outline{
        &-primary{
            background-color: $white !important;
            border-color: rgba(0, 0, 0, 0.125)!important;
            color: $base-color !important;
            &:hover{
                background-color: darken($theme-primary, 6%)!important;
                border-color: $theme-primary!important;
                color: $white !important;
            }
        }
        &-secondary{
            background-color: $white !important;
            border-color: rgba(0, 0, 0, 0.125)!important;
            color: $base-color !important;
            &:hover{
                background-color: rgba($offwhite, 80%)!important;
                color: $grey;
            }
        }
    }
    &.btn-sm {
      padding: 0.8rem 1.5rem 0.6rem 1.5rem !important;
      font-size: 1rem !important;
      line-height: 1.5;
    }
    &.btn-lg {
      padding: 0.8rem 1.5rem 0.6rem 1.5rem !important;
      font-size: 1.3rem !important;
      line-height: 1.5;
      i {
        font-size: 2.5rem;
      }
    }
    &.btn-xl {
      // padding: 1.3rem 1.5rem 1.2rem 1.5rem !important;
      padding: 1.3rem 1.5rem 1.25rem 1.5rem !important;
      font-size:  1.538rem !important;
      line-height: 1.5;
      font-weight: 600;
      i {
        font-size: 2.3rem;
      }
    }
    &-gradient {
      background: rgb(2,0,36);
      background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(248,104,60,1) 0%, rgba(240,39,72,1) 100%);
      color: $white !important;
      &:hover, &:active{
        background: $theme-tertiary;
        background: linear-gradient(180deg, rgba($theme-tertiary,1) 0%, rgba($theme-tertiary,1) 0%, rgba($theme-tertiary,1) 100%);
        color: $white !important;
        background-color: $theme-tertiary;
      }
      i {
        font-size: 2.5rem;
      }
    }
    &-gradient-border {
      background: $white;
      border: 0.1rem solid $theme-secondary;
      color: $theme-secondary !important;
      &:hover{
        background: rgb(2,0,36);
        background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(248,104,60,1) 0%, rgba(240,39,72,1) 100%);
        color: $white !important;
      }
      i {
        font-size: 2.5rem;
      }
    }
    &-blue {
    background: $theme-primary;
    color: $white !important;
      &:hover{
        background: #4969f2;
        color: $white !important;
      }
      i {
        font-size: 2.5rem;
      }
    }
    &-green-new {
      background: #69c533;
      color: $white !important;
      &:hover{
        background: $green;
        color: $white !important;
      }
      i {
        font-size: 2.5rem;
      }
    }
    &-border {
      background: $white;
      color: $grey-new !important;
      border: 0.1rem solid $border;
      &:hover{
        background: $soft-grey-new;
        color: $grey-new !important;
      }
      i {
        font-size: 2.5rem;
      }
    }
    &-grey {
    background-color: $btn-grey-color !important;
    border-color: $soft-gray !important;
    color: $dark-grey !important;
    display: flex;
    justify-content: center;
      &:hover, &:active {
        background-color: $soft-gray !important;
        color: $theme-quaternary !important;
      }
    }
    &-rounded{
      border-radius: 1.5rem !important;
      outline: none;
      padding: .5rem 1.5rem;
    }
    &-green{
      background:$creamwhite ;
      color:$green;
      font-size: 1.2rem;
      border: 1px solid  $green;
      &:hover{
        background:lighten($green, 5%) ;
        color:$creamwhite;
      }
      &.active {
        background: $green;
        color: $white;
        border: 1px solid $green;
      }
    }
    &-green-outline{
      background:$creamwhite ;
      color:$green;
      font-size: 1.1rem;
      border: 1px solid  $green;
      border-radius: .4rem !important;
      text-transform: capitalize;
      font-weight: 400;
      padding: .3rem .4rem .2rem .4rem;
      line-height: 1rem;
      @include breakpoint-down(xs) {
        font-size: 1rem;
      }
      &.active {
        background: $white;
        color: $white;
        border: 1px solid $green;

      }
    }
    &-blue-outline{
      background:$white;
      color:$theme-primary;
      font-size: 1.2rem;
      border: 0px solid  $theme-primary;
      border-radius: .4rem !important;
      text-transform: capitalize;
      font-weight: 400;
      padding: .3rem .4rem .2rem .4rem;
      line-height: 1rem;
      @include breakpoint-down(xs) {
        font-size: 1rem;
      }
      &.active {
        background: $white;
        color: $theme-primary;
        border: 1px solid $theme-primary;

      }
    }
    
    &-easysort{
      background: $creamwhite;
      border:solid 1px $grey-border;
      border-radius: .4rem;
      font-size: 1.4rem;
      color: $theme-quaternary;
      min-width: 12.3rem;
      min-height: 3.2rem;
      margin-left: .7rem !important;
      font-weight: 500;
      i {
        &:before{
          color: $theme-quaternary;
        }
      }
    &.active {
      background: $theme-primary;
      color: $white !important;
      border:solid 1px $theme-primary;
      i{
        &:before{
          color: $white;
        }
      }
    }
    &.grey-new {
      background-color: $btn-grey-color !important;
      border-color: $soft-gray !important;
      color: $theme-quaternary !important;
      font-size: 1.4rem;
      font-weight: 500;
      color: $theme-quaternary;
      &:hover, &:active {
          background-color: $soft-gray !important;
      }
    }
  }
  &-tertiary{
    background: $theme-tertiary;
    color: $white !important;
    border: 0;
    &:hover, &:active{
      background: $theme-tertiary;
      color: $white !important;
      background-color: $theme-tertiary;
    }
  }
  &-bg-orange {
    .nav-link.pl-3{
    background: $theme-tertiary-new !important;
    color: $white !important;
    &:hover {
        background: $theme-tertiary-new !important;
        color: $white !important;
    }
    .nav-link {
      color: $white;
    }
  }
  }
}
.form-control{
    border-radius: .1rem;
    border-color: $border;   
    box-shadow: none !important;
    // color: #cac8c9;
    &::-webkit-input-placeholder { /* Chrome */
        color: $light-gray;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: $light-gray;
        opacity: 1;
    }
}
.form-check-label{
    margin-left: .5rem;
}
select{
    &.form-control:not([size]):not([multiple]){
        height: auto;
    }
}
.table-responsive{
  overflow: auto;
    &.cart {
      tbody {
        td {
          padding: 2rem 1rem;
        }
      }
    }
}
.btn-compare-main{
    position: fixed;
    bottom: 0;
    left: 50%;
    font-size: 1.6rem;
    font-weight: 400;
    padding: .7rem 2rem;
    z-index: 3;
}
.custom-control-label{
    margin-left: .60rem;
    &::after,
    &::before{
        width: 2.4rem;
        height: 2.4rem;
        top: 0;
    }
}
.is{
    &-invalid{
        &.invalid-feedback{
            display: block;
            margin: 0 0 .5rem 0;
            font-size: 1.3rem;
        }
    }
    &-valid{
        &.valid-feedback{
            display: block;
            margin: 0 0 .5rem 0;
        }
    }
}

.cu{
    &-pointer{
        cursor: pointer;
    }
    &-default{
        cursor: default !important;
    }
}
.toast.alert{
  // @include bounceInUp(
  // $duration: .5s,
  // $delay: .2s,
  // $function: ease
  // );
  padding: 1rem 3rem 1rem 1rem !important;
  font-size: 1.5rem;
  .close{
    font-size: 2rem !important;
    top: 2px !important;
    font-weight: normal !important;
  }
  &.alert-success {
    padding: 1rem 2rem !important;
    color: $base-color-dark;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $theme-primary-soft;
    border: 0;
    margin: 1rem 0 !important;
    i {
      font-size: 2.5rem;
      padding: 0.5rem;
    }
  }
  &.alert-warning {
    padding: 1rem 3rem 1rem 1rem !important;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 0;
    margin: 1rem 0 !important;
    i {
      font-size: 2.5rem;
      margin-right: 1rem;
    }
  }
  &.alert-danger {
    padding: 1rem 3rem 1rem 1rem !important;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 0;
    i {
      font-size: 2.5rem;
      margin-right: 1rem;
    }
  }
}

/* Alert */
.alert-success, .alert-danger {
  background: $white;
  padding: 0.5rem 1rem 0.3rem 1rem;
  font-size: 1.1rem;
  &.alert-dismissible {
    .close {
      top : 0.5rem;
      font-size: 1rem;
    }
  }
  i {
    font-size: 1.3rem;
  }
}

/* Border */
.border {
  &-none {
    border: 0 !important;
  }
  &-top-none {
    border-top: 0 !important;
  }
  &-right-none {
    border-right: 0 !important;
  }
  &-bottom-none {
    border-bottom: 0 !important;
  }
  &-left-none {
    border-left: 0 !important;
  }
}
.line {
  border: 0.1rem solid $border;
}

/*Checkbox*/
.checkbox-new {
  position: absolute !important;
  opacity: 0;
  margin-left: 0;
  width: 2.4rem;
  height: 2.4rem;
  & {
    + label {
      position: relative;
      cursor: pointer;
      padding: 0 0 0 3rem;
      margin: 0;
      &:before {
        content: '';
        margin-right: 1rem;
        display: inline-block;
        vertical-align: text-top;
        width: 2.4rem;
        height: 2.4rem;
        background: white;
        border: 0.1rem solid $soft-gray;
      }
    }
  }

  &:hover {
    + label {
      &:before {
        background: $theme-primary-light;
      }
    }
  }

  &:focus + label:before {
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.12);
  }

  &:checked {
    + label {
      &:before {
        background: $theme-primary;
        border: 0.2rem solid $theme-primary;
      }
    }
  }

  &:disabled {
    + label {
      color: $soft-gray;
      cursor: auto;
      &:before {
        box-shadow: none;
        background: $soft-gray;
      }
    }
  }

  &:checked {
    + label {
      &:after {
        left: 9px;
        top: 4px;
        width: 7px;
        height: 13px;
        border: solid white;
        border-width: 0 1.5px 1.5px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}

.form-radio{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: $white;
  color: $white;
  top: 0.5rem;
  height: 1.7rem;
  width: 1.7rem;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 0;
  outline: none;
  border: 0.1rem solid $border;
  &:checked {
    &:before {
      position: absolute;
      font: 10px/1 'Open Sans', sans-serif;
      top: 0.1rem;
      left: 0.5rem;
      content: '\02143';
      transform: rotate(40deg);
    }
  }
  &:hover {
     background-color: $theme-primary-light;
  }
  &:checked{
    background-color: $theme-primary-light;
    border: 0.1rem solid $border;
  }
  label {
    font: 300 16px/1.7 'Open Sans', sans-serif;
    color: $base-color;
    cursor: pointer;
  }
}

/* Extra large screen */
@media (min-width: 1366px) {
  .container {
    max-width: 1300px !important;
  }
}

input[type="text"]:disabled {
  background: $offwhite;
}
textarea[disabled] {
  background-color: $offwhite !important;
}

i{
    &.noc-drop {
        font-size: 0.9rem;
        font-weight: 600;

    }
    &:before.rotateright{
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari 3-8 */
        transform: rotate(90deg);

    }
}


.hiddenFileInput > input{
  height: 8rem;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
.hiddenFileInput{
  border: 1px dashed #ccc;
  width:8rem;
  min-height: 80px;
  display: inline-block;
  overflow: hidden;
  /*for the background, optional*/

}

.addnew-btn i{
    top: 30%;
    left: 21%;
    font-size: 3rem;
    color:$light-gray;
    font-weight: 504;
}
.review-img{
  max-width: 100%;
  max-height: 149px;
  width: auto;
  height: auto;
}

.button-center {
  align-items: center;
  display: flex;
  justify-content: center;
  border: 0;
}

/*Form styles*/
label {
  .mandatory {
    font-size: 2rem;
    color: $theme-tertiary;
  }
}
.img-unmatchoffr{
  display: block;
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 997;
  img{
    max-width: 80% !important;
    max-height: 60% !important;
    width: auto !important;
    position: absolute;
    left: 0;
    top: 0;
  }
}
p.unmatchedoffer{
font-size: 1.1rem;
background: $theme-secondary;
color: $white;
padding: 0 .3rem;
position: absolute;
right: 0px;
top: 0;
z-index: 999;
}
/* article navigation links*/
.article-banner-btns{
  .article-wrap{
    bottom: 0;
    right: 0;

  p{
    font-size:2rem;
    color:$white; 
    padding: 0;
    margin: 0;
    font-weight: 500;
    text-align: right;
    padding-right: 11%;
    @include breakpoint-down(sm) {
      font-size: 1.2rem;
      padding-right: 11%;
    }
    @include breakpoint-down(xs) {
      display: none;
    }
    @include breakpoint-down(lg) {
      font-size: 1.5rem;
      padding-right: 11%;
    }
  }
  .flexbox-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    right: 16px;
    bottom: .5rem;
    justify-content: flex-end;
    @include breakpoint-down(sm) {
      right:.5rem;
      bottom:-.5rem;
    }
      li{
        list-style-type: none;
        padding: 0;
        margin: 0;
        background:rgba($white,0.9);
        font-size: 1.7rem;
        text-align: center;
        margin:.8rem;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 33.33%;
        padding: 0;
        border:none;
        border-radius: .4rem;
        margin-left: 0;
        margin-bottom: 0;
        @include breakpoint-down(lg) {
          font-size: 1.1rem;
        }
        a{
          font-weight: 500;
          display: block;
          padding: 10px;
          &:link,&:active,&:focus,&:visited{
            color:$theme-quaternary; 
          }
          &:hover{
            text-decoration: none;
            color: darken($theme-primary, 15%);
            background:rgba($white,1);
            border-radius: .4rem;
          }
          @include breakpoint-down(sm) {
            padding:.5rem .2rem;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
        @include breakpoint-down(sm) {
          font-size: 1.1rem;
          max-width: 30rem;
          min-width: 14rem;
          white-space: nowrap;

        }
        @include breakpoint-down(sm) {
          margin: .2rem;
        }
        @include breakpoint-down(xs) {
          font-size: .9rem;
          max-width: 20rem;
          min-width: 11rem;
          white-space: nowrap;
        }
      }

    }
  }
  &.left-align{
    .article-wrap{
      left: 0;
      right: auto !important;
      .flexbox-row{
        justify-content: flex-start;
      }
      p{
        text-align: left;
      }

    }
    }
    &.center-align{
      .article-wrap{
        left: 50%;
        right: auto;
        margin-left: -31rem;
        width: 64rem;
        @include breakpoint-down(sm) {
          margin-left: -24rem;
          width: 48rem;
        }
        @include breakpoint-down(xs) {
          margin-left: -15rem;
          width: 30rem;
        }
        .flexbox-row{
          justify-content:center;
        }
        p{
          text-align: center;
        }

      }
      }
      &.verticalsty{
        .flexbox-row{
          @include breakpoint-down(sm){
            width: 38%;
            bottom: 0rem;
          }
          li{
            width: 100% !important;               
          }
        } 
        .article-wrap{
          bottom: 50%;
          margin-bottom: -110px;
          right: 3%;
          @include breakpoint-down(xl){
            margin-bottom: -90px;            
          }
          @include breakpoint-down(sm){
            justify-content: flex-end;
            display: flex;
            padding: .2rem!important;
            flex-direction: column;
            align-items: flex-end;
            margin-bottom: -63px;
          }
          @include breakpoint-down(xs){
            margin-bottom: -48px;
            right: 1%;
          }
          p{
            padding-right: 2%;
            color:$theme-quaternary; 
           
          }
        }

      }
  }
.tick-sty{
    font-size: 2rem;
    color: $success;
    margin-right: .3rem;
}
.article-sec{
  img{
    max-width: 100% !important;
  }
  h1{
    padding-top: 2rem;
  }
  .card{
    border: 0 !important;
    margin-bottom: 2.4rem !important;
    .card-header{
      background: $creamwhite;
      border-bottom: 0;
      border: 0.1rem solid $border-new;
      h4{
        font-size: 1.6rem;
        line-height: 3.6rem;
        color: $dark-grey;      
      }
    }
    .card-body{
      border-bottom: 1rem;
      padding: 3.6rem 2.4rem 2.4rem;
      border: 0.1rem solid $border-new;
      border-top: 0;
      h2{
        color: $theme-quaternary;
        font-size: 2.2rem;
        &:after{
          content: " ";
          display: block;        
          width: 9rem;
          padding-top: 1.3rem;
          border-bottom: 1.5px solid $tipslink;
          margin-bottom: 2.3rem;  
        }
      }
      p{
        font-size: 1.4rem;
        line-height: 2.2rem;
        color: $litegrey-color;
      }
    }
  }

}

.orangearrow-right{
	display: inline-block;
	background:$theme-tertiary;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
  margin-left: .5rem;
  i{
    font-size: 1rem;
    font-weight: 800;
    display: inline-flex;
    color: $white;
    margin-right: -.3rem;
    @include rotate(-90deg);
  }
}

.lighbox{
  @include breakpoint-down(xs){
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba($black, .7);
    z-index:9999;

  }
}
.ico-rounded{
  border: 1px solid $soft-gray;
  border-radius: 50%;
  padding: .4rem;
}
.ico-rounded-bg{
  border: 0px;
  border-radius: 50%;
  padding: .8rem;
  background: $brder-color3;
}
.off-badge {
  background: $theme-secondary;
  color:$white;
  font-size: 1.4rem;
  top:1.7rem;
  left: -.3rem;
  min-width: 4rem;
  &:after{
    left: 0rem;
    content: " ";
    display: block;
    background: $theme-secondary;
    width: 1.3rem;
    bottom: -.5rem;
    position: absolute;
    height: 10px;
    @include skewY(20deg)

  }
}
.product-multi-carousel {
  .off-badge {
    left: -1.1rem !important;
  }
}

.iframe-container{
    height: 100%;
    width: 100%;
    iframe{
      border: none;
      height: 300px;
      width: 100%;
    }
}
.free-sec{
  min-height: 3.8rem !important;
  .btn{
    cursor: default !important;
  }
}
.inactive{
  opacity: .65;
  cursor: not-allowed;
  .form-check-label{
    cursor: not-allowed;
  }
}
.green-txt{
  color: $green;
}
.lightbox2{
  top:12.70rem;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: none;
  background:rgba($black, .4);
  z-index:99;
}
.rotatedown{
  transform: none !important;
}
.lightbox-open {
  .lightbox2{
    display: block;
    z-index: -1;
  }
  &.navbar-expand-lg{
    .lightbox2 {
      top: 7.8rem;
      @include breakpoint-down (xs) {
        top: 10.5rem;
      }
    }
  }
}
.fluidbg{
  background:$offwhite;
  h1{
    background: transparent !important;
  }
}
.phone-field{
  select{
    background: $offwhite;
    border: .1rem solid $border;  
  }
}
.sticky-header {
  width: 100%;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  padding:1.5rem 20%;
}
.phone-field {
  select{  
    -moz-appearance: initial;  
    background-position: 80px 8px;    
    width: 60px;  
    text-overflow: " ";
    cursor: pointer;   
    outline: none;
    text-align: center;
    option{
      background: transparent;     
      padding: 1rem;
      font-size: 1.3rem;
      z-index: 9;
      outline: 1.5px solid $soft-gray;
    }
  }
}
.w-auto{
  width: auto !important;
}
.reactdrop{
  border-radius: .4rem; 
  cursor: pointer;
  background-color: $offwhite;
  background-position: 90% center !important;
  background-image: none !important;
  ul{
    left: -.7rem !important;
    min-width: auto;
    top:.3rem !important;
    padding: 0rem !important;
    background: $soft-grey-new;
    @include box-shadow(-1px, 0px, 5px, $soft-grey-new, $inset: false);
    li{
      padding: .5rem .9rem!important;
      &:hover{
        background: darken( $soft-grey-new, 5%);
        cursor: pointer;
      }
      label{
        font-size: 1.3rem;
        cursor: pointer;
        font-weight: 500;
      }
    }
  }
  .reactdrop-lbl{
    padding: .2rem 0;
    align-items: center;
    label{
      overflow: hidden;
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 16rem;
      padding-right: 1.5rem;  
      line-height: 2.4rem;  
      + .icon-downarrow{
        position: inherit;
        right: 0;
      }
    }
  }
  i.sort-ico{
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -.5rem;
    margin-left: -.3rem;
  }
  &.carousel-filter-select{
    border:none;
    padding: 0;
    margin-left: .7rem;
    background: transparent;  
    @include breakpoint-down(xs){
      margin-left: 0rem;
    }  
    .reactdrop-lbl {
      padding: 0;
      align-items: baseline;
      @include breakpoint-down(xs){
        margin-top: 1rem;
      }
      label{
        max-width:min-content;
        color: $theme-primary;
        line-height: normal;
        cursor: pointer;
        @include breakpoint-down(xs){
          font-size: 2rem;
        }
        + i{
          color: $theme-primary;
          font-size: 2rem;
          font-weight: 600;
          position: relative;
          @include breakpoint-down(xs){
            font-size: 1.4rem;
          }
        }
      }
    }
    ul{
      min-width: 30rem;
    }
    
    ul.dropdown-menu{
      background: $white;
      @include box-shadow(0,0,5px, $light-gray);
      border-radius: .8rem;
      max-height: 30rem;
      overflow-y: auto;
      @include scrollsty();      
      li{
          label{
            color: $theme-primary;
          }
        }
    }
    
  }
  
}

.content-wrap {
  background-color: $white;
  &.bg-grey-new {
    background-color: $soft-grey-new !important;
  }
  &.bg-red-new {
    background-color: $bg-light-red !important;
  }
}

.sub-title{
  font-size: 1.3rem !important;
}
.footer{
  &.cart-listing,&.user-checkout{
    @include breakpoint-down(sm){
      display: none !important;
    }    
  }
}
.row-reverse-button {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.row-button {
  flex-direction: row !important;
  justify-content: flex-start;
}
.couponTxt{
    display: block;
    font-weight:500;
    font-size: 3.2em;
    letter-spacing: 1rem;
    color: $theme-quaternary;
    overflow: hidden;
    text-overflow: ellipsis;
    background: $offwhite;
    margin: 1rem 0;
    padding: .5rem;
    @include breakpoint-down(xs){
      font-size: 1.8rem;
      font-weight: 900;
    }
}
 .banner-notification-popup{
  max-width: 643px;
  .modal-content{
    background: none;
    border: none;
    .img-fluid{
     
      min-width: 643px;
      min-height: 643px;
      @include breakpoint-down(md){
        min-width: 295px;
        min-height:295px;
      }
    }
    .modal-body{
      text-align: center;
    }

  }
 

}
.opacity7{
  &.show{
    opacity: .75 !important;
  }

}

.chat-box-open{
  position: fixed;
  bottom: 0;
  right: 1rem;
  z-index: 990;
  div{
    align-self: center;
    border-radius: 50%;
    background: $theme-primary;
    width:70px;
    height:70px;
    text-align: center;
    color: $white;
    font-size: 2.5rem;
    margin:5px 0;          
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
      font-size:3.2rem;
      @include breakpoint-down (sm) {
        font-size: 2.5rem;
      }
    }
    @include breakpoint-down (sm) {
      width:45px;
      height:45px;
    }
  }
}

.icon-star-half:before {
  content: "\e95a";
  color: $orange-color !important;
}
.icon-star-outline:before {
  content: "\e95b";
  color: $orange-color !important;
}
.icon-star-filled:before {
  content: "\e95c";
  color: $orange-color !important;
}
.lite-border{
  border-top: 1px solid $border-lite;
}

.campain-modal{
  width: 100%;
  margin:0rem auto;
  .nocnoc-campaign-imgctr{
    padding: 0px;
  }
  .modal-header{
    padding: 0rem;
    .close{
      font-size: 2.5rem;
    }
  }
}
.chat-count{
  position: absolute;
  top: 0;
  background: $theme-secondary;  
  color: $white;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 22px;
}
.globalbg-lightblue{
  background: $light-blue;
}
.globalbg-offwhite{
  background: $main-bg;
}
.globalbg-softblue{
  background: $theme-primary-soft;
}
.theme-primary-color{
  color: $theme-primary;
}
.theme-secondary-color{
  color: $theme-secondary;
}
.theme-tertiary-color{
  color: $theme-tertiary;
}
.special-tag{
  display: block;
  position: absolute;
  width: 8rem;
  height: 4rem;
  right: 0;
  bottom: 1rem;
  background: url(../images/best-price.png) no-repeat right;
  @include breakpoint-down(xs){
    bottom: -.4rem;
    right: -1px;
  }
}
.product-desc{
  .special-tag{
    @include breakpoint-down(xs){
      bottom: 1rem;

    }
  }
}
 span.ads{
  font-size: 1rem; 
  padding: 0rem .3rem;
  border: 1px solid $adsorage;
  border-radius: .3rem;
  margin-right: .3rem;  
  vertical-align: middle;
  color: $adsorage;  
  align-items: center;
  line-height: 1.7rem;
}
.tag-tooltip{
  .tooltip-inner{
    min-width: 30rem;
    min-height: 8.5rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(16, 16, 16, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem;
    text-align: left;
    .tag-pdp-content{
      font-size: 1.4rem;
      font-weight: 300;
      p{
        span{
          color: $white !important;
        }
      }
    }
  }
}
.btn-tag{
  border-radius: 2.4rem !important;
  min-width: 12rem;
  min-height: 4rem;
  border: 1px solid $border-lite;
  color: $theme-primary;
  @include box-shadow(0px, 2px, 4px 0, rgba(0,0,0,.05), $inset: false);   
  font-size: 1.6rem; 
  font-weight: 600;
  padding: .8rem 1.2rem;
  margin: 1rem .5rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  background: $white;
  &.selected{
    background: $theme-primary;
    outline: none !important;
    color: $white !important;
    border: none !important;
  } 
  i.tag-right-icon{
    display: none;
  }
}
.category-page{
  .breadcrumb-container{
    display: none !important;
    @include breakpoint-down(xs){
      display: block !important;
    }
    nav{
      @include breakpoint-down(xs){
        display: block !important;
      }
    }
  }
}
.tag-right-ico{
  display: none;
}
