.pt-0rm,.p-0rm
{
  padding-top: 0rem !important;
}
.pt-1rm,.p-1rm
{
  padding-top: 1rem !important;
}
.pt-2rm,.p-2rm
{
  padding-top: 2rem !important;
}
.pt-3rm,.p-3rm
{
  padding-top: 3rem !important;
}
.pt-4rm,.p-4rm
{
  padding-top: 4rem !important;
}
.pt-5rm,.p-5rm
{
  padding-top: 5rem !important;
}
.pt-6rm,.p-6rm
{
  padding-top: 6rem !important;
}
.pt-7rm,.p-7rm
{
  padding-top: 7rem !important;
}
.pt-8rm,.p-8rm
{
  padding-top: 8rem !important;
}
.pt-9rm,.p-9rm
{
  padding-top: 9rem !important;
}
.pt-10rm,.p-10rm
{
  padding-top: 10rem !important;
}
.pb-0rm,.p-0rm
{
  padding-bottom: 0rem !important;
}
.pb-1rm,.p-1rm
{
  padding-bottom: 1rem !important;
}
.pb-2rm,.p-2rm
{
  padding-bottom: 2rem !important;
}
.pb-3rm,.p-3rm
{
  padding-bottom: 3rem !important;
}
.pb-4rm,.p-4rm
{
  padding-bottom: 4rem !important;
}
.pb-5rm,.p-5rm
{
  padding-bottom: 5rem !important;
}
.pb-6rm,.p-6rm
{
  padding-bottom: 6rem !important;
}
.pb-7rm,.p-7rm
{
  padding-bottom: 7rem !important;
}
.pb-8rm,.p-8rm
{
  padding-bottom: 8rem !important;
}
.pb-9rm,.p-9rm
{
  padding-bottom: 9rem !important;
}
.pb-10rm,.p-10rm
{
  padding-bottom: 10rem !important;
}
.pl-0rm,.p-0rm
{
  padding-left: 0rem !important;
}
.pl-1rm,.p-1rm
{
  padding-left: 1rem !important;
}
.pl-2rm,.p-2rm
{
  padding-left: 2rem !important;
}
.pl-3rm,.p-3rm
{
  padding-left: 3rem !important;
}
.pl-4rm,.p-4rm
{
  padding-left: 4rem !important;
}
.pl-5rm,.p-5rm
{
  padding-left: 5rem !important;
}
.pl-6rm,.p-6rm
{
  padding-left: 6rem !important;
}
.pl-7rm,.p-7rm
{
  padding-left: 7rem !important;
}
.pl-8rm,.p-8rm
{
  padding-left: 8rem !important;
}
.pl-9rm,.p-9rm
{
  padding-left: 9rem !important;
}
.pl-10rm,.p-10rm
{
  padding-left: 10rem !important;
}
.pr-0rm,.p-0rm
{
  padding-right: 0rem !important;
}
.pr-1rm,.p-1rm
{
  padding-right: 1rem !important;
}
.pr-2rm,.p-2rm
{
  padding-right: 2rem !important;
}
.pr-3rm,.p-3rm
{
  padding-right: 3rem !important;
}
.pr-4rm,.p-4rm
{
  padding-right: 4rem !important;
}
.pr-5rm,.p-5rm
{
  padding-right: 5rem !important;
}
.pr-6rm,.p-6rm
{
  padding-right: 6rem !important;
}
.pr-7rm,.p-7rm
{
  padding-right: 7rem !important;
}
.pr-8rm,.p-8rm
{
  padding-right: 8rem !important;
}
.pr-9rm,.p-9rm
{
  padding-right: 9rem !important;
}
.pr-10rm,.p-10rm
{
  padding-right: 10rem !important;
}
.mt-0rm,.m-0rm
{
  margin-top: 0rem !important;
}
.mt-1rm,.m-1rm
{
  margin-top: 1rem !important;
}
.mt-2rm,.m-2rm
{
  margin-top: 2rem !important;
}
.mt-3rm,.m-3rm
{
  margin-top: 3rem !important;
}
.mt-4rm,.m-4rm
{
  margin-top: 4rem !important;
}
.mt-5rm,.m-5rm
{
  margin-top: 5rem !important;
}
.mt-6rm,.m-6rm
{
  margin-top: 6rem !important;
}
.mt-7rm,.m-7rm
{
  margin-top: 7rem !important;
}
.mt-8rm,.m-8rm
{
  margin-top: 8rem !important;
}
.mt-9rm,.m-9rm
{
  margin-top: 9rem !important;
}
.mt-10rm,.m-10rm
{
  margin-top: 10rem !important;
}
.mb-0rm,.m-0rm
{
  margin-bottom: 0rem !important;
}
.mb-1rm,.m-1rm
{
  margin-bottom: 1rem !important;
}
.mb-2rm,.m-2rm
{
  margin-bottom: 2rem !important;
}
.mb-3rm,.m-3rm
{
  margin-bottom: 3rem !important;
}
.mb-4rm,.m-4rm
{
  margin-bottom: 4rem !important;
}
.mb-5rm,.m-5rm
{
  margin-bottom: 5rem !important;
}
.mb-6rm,.m-6rm
{
  margin-bottom: 6rem !important;
}
.mb-7rm,.m-7rm
{
  margin-bottom: 7rem !important;
}
.mb-8rm,.m-8rm
{
  margin-bottom: 8rem !important;
}
.mb-9rm,.m-9rm
{
  margin-bottom: 9rem !important;
}
.mb-10rm,.m-10rm
{
  margin-bottom: 10rem !important;
}
.ml-0rm,.m-0rm
{
  margin-left: 0rem !important;
}
.ml-1rm,.m-1rm
{
  margin-left: 1rem !important;
}
.ml-2rm,.m-2rm
{
  margin-left: 2rem !important;
}
.ml-3rm,.m-3rm
{
  margin-left: 3rem !important;
}
.ml-4rm,.m-4rm
{
  margin-left: 4rem !important;
}
.ml-5rm,.m-5rm
{
  margin-left: 5rem !important;
}
.ml-6rm,.m-6rm
{
  margin-left: 6rem !important;
}
.ml-7rm,.m-7rm
{
  margin-left: 7rem !important;
}
.ml-8rm,.m-8rm
{
  margin-left: 8rem !important;
}
.ml-9rm,.m-9rm
{
  margin-left: 9rem !important;
}
.ml-10rm,.m-10rm
{
  margin-left: 10rem !important;
}
.mr-0rm,.m-0rm
{
  margin-right: 0rem !important;
}
.mr-1rm,.m-1rm
{
  margin-right: 1rem !important;
}
.mr-2rm,.m-2rm
{
  margin-right: 2rem !important;
}
.mr-3rm,.m-3rm
{
  margin-right: 3rem !important;
}
.mr-4rm,.m-4rm
{
  margin-right: 4rem !important;
}
.mr-5rm,.m-5rm
{
  margin-right: 5rem !important;
}
.mr-6rm,.m-6rm
{
  margin-right: 6rem !important;
}
.mr-7rm,.m-7rm
{
  margin-right: 7rem !important;
}
.mr-8rm,.m-8rm
{
  margin-right: 8rem !important;
}
.mr-9rm,.m-9rm
{
  margin-right: 9rem !important;
}
.mr-10rm,.m-10rm
{
  margin-right: 10rem !important;
}
.theme-primary-color{
  color: $theme-primary !important;
}
.theme-secondary-color{
  color: $theme-secondary !important;
}
.theme-tertiary-color{
  color: $theme-tertiary !important;
}
