.nps-modal{
    max-width: 100% !important;
    height: 100vh;
    background: $white;
    margin: 0 !important;
    .modal-content{
        border: none;
        .modal-body{
            display: flex;
            justify-content: center;
            .nps-wrapper{
                display: flex;
                flex-flow: column;
                align-items: center;
                text-align: center;
                width: 50%;
                @include breakpoint-down(xs){
                    width: 100%;
                }
                h1{
                    font-size: 3.2rem;
                    font-weight: 600;    
                    @include breakpoint-down(xs){
                        font-size: 2.4rem;
                    }   
                }
                p{
                    font-size: 2rem;
                    margin: 0;
                    @include breakpoint-down(xs){
                        font-size: 1.6rem;
                        margin: 1rem 0;                       
                    }
                }
                figure{
                    width: 25.8rem;
                    height: 29.8rem; 
                    margin: 3rem 0; 
                    background-size: cover !important;
                    @include breakpoint-down(xs){
                        width: 17.8rem;
                        height: 23.8rem; 
                    }             
                    &.happy{
                        background: url("/static/images/happy.svg") center top  no-repeat;
                    }
                    &.hopeful{
                        background: url("/static/images/hopeful.svg") center top  no-repeat;
                    }
                    &.sad{
                        background: url("/static/images/sad.svg") center top  no-repeat;
                    }
                }
                .nps-textfield{
                    width:100%;
                    margin: 5rem 0;
                    text-align: left;               
                    .form-control{
                        color: $litegrey-color;
                        border-bottom:1px solid $soft-gray;
                        border-width: 0px 0px 1px;
                        font-size: 1.4rem;
                        margin:1rem 0;
                    }
                    label{
                        font-size: 1.4rem;
                        font-weight: 600;
                        color: $base-color;
                    }
                }
                .button-panel{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                
                    .btn{
                        font-size: 1.6rem;
                        padding: .8rem 0;
                        max-width: 41.7rem;
                    }
                }
            }
            @include breakpoint-down(xs){
                padding: 0;
            }
    }
        .rangeslider-container{
            width: 100%;            
            .legend{
                display: flex;
                justify-content: space-between;
                padding-bottom: 2rem;
                @include breakpoint-down(xs){
                    padding-bottom: 1rem;
                }
                span{
                    font-size: 2.4rem;
                    font-weight: 600;
                    color: $soft-gray;
                    line-height: 1.33;
                    position: relative;
                  
                    &.selected{
                        color: $theme-tertiary-new;
                        &:before{                          
                            background: #e74612;                           
                        }
                    }
                    &:before{
                        width: 1rem;
                        height: 1rem;
                        position: absolute;
                        content: " ";
                        background: $soft-gray;
                        border-radius: 50%;
                        top: 7.3rem;
                        z-index: 1;
                        left:25%;
                        @include breakpoint-down(xs){
                            width: .5rem;
                            height: .5rem;
                            top: 5.6rem;                         

                        }
                    }
                }
            }
            .rangeslider-label{
                display: flex;
                justify-content: space-between;
                margin-top: 5.5rem;
                @include breakpoint-down(xs){
                    margin-top: 2rem;
                }
                p{
                    font-size: 1.4rem;
                    color: $base-color-light;
                    text-align: left;
                    + p{
                        text-align: right;
                    }
                }
            
            }
            .input-range-ctr{
                padding: 0rem;
                .input-range__track--active{
                    background: $theme-tertiary-new;
                    
                }
                .input-range__track{
                    height: 4.5rem;
                    border-radius: 26.7px;
                    @include breakpoint-down(xs){
                        height: 2.5rem;
                    }
                }
                .input-range__slider{
                    width: 6.8rem;
                    height: 6.8rem;
                    border-radius: 50%;
                    background: #e74612;      
                    border: none;
                    margin-left: -3.76rem;
                    margin-top: -5.5rem;  
                    @include breakpoint-down(xs){
                        width: 3.5rem;
                        height: 3.5rem;
                        margin-top: -3rem;
                        margin-left: -2rem;                    
                    }      
                }

            }
        }    
        .modal-footer{
            width: 50%;
            align-self: center;
            border: none;
            justify-content: center;
            @include breakpoint-down(xs){
                width: 100%;
            }
            .btn{
                border-radius: .2rem;
                height: 4.8rem;
                &-primary{
                    margin-right: 1rem;
                }

            }
        }
    }
}