@font-face {
  font-family: 'sukhumvittadmai-medium';
  src:  url('fonts/sukhumvittadmai-medium.eot');
  src:  url('fonts/sukhumvittadmai-medium.eot') format('embedded-opentype'),
    url('fonts/sukhumvittadmai-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'sukhumvittadmai-bold';
  src:  url('fonts/sukhumvittadmai-bold.eot');
  src:  url('fonts/sukhumvittadmai-bold.eot') format('embedded-opentype'),
    url('fonts/sukhumvittadmai-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
