/*====== Primary color ======*/

$theme-primary: #3639b4;
/*Lign Shade*/
$theme-primary-light: #4d51bd;
$theme-primary-soft: #ebebf7;

/*NocNoc Blue Dark Shade*/
$nocnoc-blue-dark: #151648;
$nocnoc-blue-med-dark: #2B2D90;

/*NocNoc Blue Light Shade*/
$nocnoc-blue-light: #E1E1F3;
$nocnoc-blue-soft: #F4F4FB;

/*Royal Blue*/
$theme-primary-royal-blue: #535EDB;


/*====== Secondary color ======*/

$theme-secondary: #db2f4f;
/*Light Shade*/
$theme-secondary-light: #f0465c;

/*--- Tub Tim ---*/
$tub-tim: #F03765;
/*Dark Shade*/
$tub-tim-dark: #C02C50;
$tub-tim-med-dark: #DD325D;
/*Light Shade*/
$tub-tim-light: #F35F83;
$tub-tim-soft: #FDEBEF;


/*====== Tertiary color ======*/

$theme-tertiary: #f8531e;
/*Light Shade*/
$theme-tertiary-light: #feede8;
$theme-tertiary-new: #f87620;

/*--- Thai Tea ---*/
$thai-tea: #FF7235;
/*Dark Shade*/
$thai-tea-dark: #CC5B2A;
$thai-tea-med-dark: #EB6930;
/*Light Shade*/
$thai-tea-light: #FF8E5D;
$thai-tea-soft: #FFF1EB;

/*--- Kanom Tan ---*/
$kanom-tan: #FFDB51;
/*Dark Shade*/
$kanom-tan-dark: #CC5B2A;
$kanom-tan-med-dark: #EB6930;
/*Light Shade*/
$kanom-tan-light: #FF8E5D;
$kanom-tan-soft: #FFFBED;


$theme-quaternary: #100e37;

/*====== Accent color ======*/
/*Look Choup - Error*/
$look-choup: #DB2F4F;
/*Kanom Chan - Success*/
$kanom-chan: #39B436;
/*Med Khanun - Pending*/
$med-khanun: #FF9802;

$base-color: #101010;
$base-color-dark: #212529;
$base-color-light: #565656;
$litegrey-color:#666666;
$verfiygreen:#0fc608;
$head-corosel:#100e37;

@mixin rotate($degrees) {
    -webkit-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    transform: rotate($degrees);
}

/*color*/
$purple: #4f3fb3;
$purple-light: #4d51bd;
$purple-new: #535edb;

$white: rgba(255,255,255,1);
$black: #000000;
$offwhite: #f6f6f6;
$offwhite-new: #f3f3f3;

$grey: #303030;
$light-gray: #999;
$soft-gray: #cccccc;
$light-grey2: #f3f1f4;
$light-grey3: #ececec;
$btn-grey: #e8e6ed;
$grey-new: #535252;
$soft-grey-new: #f7f7f7;
$btn-grey-color: #f5f5f5;
$grey-dark-new: #6E6E6E;
$new-lable-color: #858585;

$border: #e0dee1;
$border-new: #e4e4e4;
$light-red: #fdf5e8;

$success: #28a745;
$danger:#dc3545;

$header-color:#0d014d;
$light-border:#9a9a9c;
$grey-border:#939393;
$coruselcolor:#c6c6c8;

$coruselarrowcolor:#555556;
$coruselimgbg-color:#f7f7f9;

$corusel-spotlitecolor1:#e0a638;
$corusel-spotlitecolor1-txt:#262f2d;
$corusel-spotlitecolor2:#3739b4;
$corusel-spotlitecolor3:#ffdb01;
$corusel-spotlitecolor3-txt:#0c232a;
$corusel-spotlitecolor6:rgba(245,60,22,0.7);

$offprice-color:#fcf9e3;
$orange-color: #f87620;
$bg-light-red: #f7efef;
$soft-grey-new: #f7f7f7;

$light-blue:#f1f2f8;
$soft-green-new: #e6faf7;
$divider: #e0e0e0;
