.product-pad{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
    .pad{
        padding: 1.5rem;
        background-color: $white;
        margin-right: 0;
        margin: 0 0 2rem 0;
        width: 49%;
        .sku-number {
          padding: 0 0 1rem 0;
          font-size: 1.2rem;
          font-family: 'Lato', sans-serif;
          &-new {
            margin: 0;
            padding: 0;
            font-size: 1.4rem;
            color: $litegrey-color;
            a {
              text-decoration: underline;
              color: $tipslink;
              &:hover, &:active, &:visited {
                text-decoration: none;
                color: $tipslink;
              }
            }
            span {
              margin-left: 1rem;
              &.company-name {
                color: $light-gray;
              }
              &:first-child {
                margin-left: 0;
              }
              &:last-child {
                margin-left: 0;
              }
            }
          }
        }
        &.full-width {
          width: 100%;
        }
        &.three-column {
          width: 37%;
          &.first {
            width: 30%;
            @include breakpoint-down(md) {
              width: 40%;
            }
            @include breakpoint-down(sm) {
              width: 100%;
            }
          }
          &.second {
            width: 44%;
            @include breakpoint-down(md) {
              width: 60%;
            }
            @include breakpoint-down(sm) {
              width: 100%;
            }
          }
        }
        &.two-column {
          width: 26%;
          border-left: 0.1rem solid $border;
          @include breakpoint-down(lg) {
            max-width: 50%;
            margin: 0 auto;
            .distributing-firm {
              .distributer-img {
                .distributer-logo {
                  left: 41%;
                }
              }
            }
          }
          @include breakpoint-down(md) {
            max-width: 80%;
            .distributing-firm {
              .distributer-img {
                .distributer-logo {
                  left: 41%;
                }
              }
            }
          }
          @include breakpoint-down(sm) {
            max-width: 100%;
            .distributing-firm {
              .distributer-img {
                .distributer-logo {
                  left: 38%;
                }
              }
            }
          }
        }
    }
    .card-section-pdp {
      display: flex;
      flex-direction: column;
      @include breakpoint-down(sm) {
        justify-content: space-around;
        flex-direction: column;
      }
      .card {
        display: flex;
        @include breakpoint-down(sm) {
          width: 100%;        
        }
      }
    }
}

.rating-section-container {
  i {
    font-size: 1.499rem;
  }
  .number-of-reviews {
    font-size: 1.3rem;
    line-height: 1.43;
    color: $light-gray;
  }
}

@media only screen and (max-width: 1199px) {
    .product-pad{
        .pad{
            flex: auto;
            width: 100%;
            &.three-column {
              width: 50%;
            }
            &.two-column {
              width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 991px) {
    .product-pad{
        .pad{
            flex: auto;
            width: 100%;
            &.three-column {
              width: 100%;
            }
            &.two-column {
              width: 100%;
            }
        }
    }
}

.product-desc{
    flex: 1;
    margin: 0 0 0 0rem;
    h4 {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.25;
      color: $dark-grey;
    }
    .bxdetail{
      text-align: left;
      padding: 0;
      // margin-bottom: 2rem;
      border: 0!important;
      .brand-name-pdp {
        font-size: 1.4rem;
        font-weight: normal;
        color: $light-gray;
      }
      .sku-number-pdp {
        color: $light-gray;
      }
      .seller-name-pdp {
        font-size: 1.4rem;
        font-weight: normal;
        color: $litegrey-color;
      }
      header {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0 0 1rem 0;
        &.new {
          margin: 0;
          h2 {
            margin: 0;
          }
        }
        .brand-logo {
          flex-grow: 1;
          img {
            max-height: 30px;
            text-align: right;
            float: right;
          }
        }
        h2 {
          text-align: left;
          flex-grow: 9;
          padding-right: 1rem;
          line-height: 1.5;
        }
      }
        .share-link {
          position: relative;
          bottom: 1rem;
          .btn-sm {
            font-size: 1rem;
            padding-right: 1.5rem;
            padding-bottom: 0.1rem;
            i {
              position: absolute;
              padding-left: 0.3rem;
            }
          }
        }
        .popover-copyurl-container {
          top: 10px;
          position: absolute;
          left: -42px;
          .btn {
            margin-top: 0;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
          }
          .form-control {
            color: $light-gray;
          }
          .popover {
            display: none;
            position: absolute;
            background: $soft-grey-new;
            border: 1px solid #ebebeb;
            z-index: 2000;
            width: 30rem;
            padding: 1rem;
            left: -10rem;
            top: 3rem;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
          }
        }
        .logo-pdp {
          padding: 0 0 0 0;
          margin: 1rem 0;
          text-align: center;
        }
        h2{
            font-size: 1.8rem;
            font-weight: 600;
            text-transform: uppercase;
            color: #555;
            height: auto;
        }
    }
    #accordion{
        .card-body{
            padding: 1rem;
        }
        .card{
            border: 0;
            ul{
                margin: 0;
                padding: 0;
                li{
                    display: block;
                    list-style: none;
                    text-align: left;
                    font-size: 1.3rem;
                    line-height: 2rem;
                    strong{
                        font-weight: 600;
                    }
                }
            }
        }
        .card-header{
            padding: .5rem 1rem;
            background-color: #999;
            border-radius: .1rem;
            .btn{
                padding: 0;
                display: block;
                text-decoration: none;
                color: $white;
                width: 100%;
                text-align: left;
                font-size: 1.4rem;
            }
        }
    }
    .other-details{
        text-align: left;
        border-top: .1rem solid #c4c4c4;
        font-size: 1.3rem;
        margin-top: 1.5rem;
        padding: 0 0 1rem 0;
        h4{
          font-size: 1.4rem;
          font-weight: 600;
          margin:1rem 0 .7rem 0;
          span {
            color: $grey;
            margin-left: 1rem;
            font-weight: 500;
          }
        }
    }
    .shipping-promotion {
      justify-content: center;
    }
}

.notify-me {
  // padding: 1rem;
  margin: 0;
  // background: rgba($theme-primary-light, 0.1);
  label {
    color: $light-gray;
  }
  .form-control {
    padding: .80rem .75rem;
    background-color: $white;
    color: $grey;
    font-size: 1.2rem;
    &::-webkit-input-placeholder {
      color: $light-gray;
    }
  }
  .btn {
    padding: .80rem 1.5rem .7rem;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: 0;
  }
}

.share-product {
  margin: 0;
  flex-direction: column;
  align-items: center;
  label {
    color: $light-gray;
  }
  .form-control {
    padding: .80rem .75rem;
    background-color: $white;
    color: $grey;
    font-size: 1.2rem;
    &::-webkit-input-placeholder {
      color: $light-gray;
    }
  }
  .input-group-btn {
    .btn {
        padding: .80rem .75rem;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-left: 0;
      }
  }
}

.extra-details {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: 1.4rem;
    margin: 1rem 0 0;
    .btn{
        margin-right: 0.5rem;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 85%;
        border-radius: 0.4rem !important;
        &.add-to-mywishlist {
          margin-right: 0;
          width: 15%;
          i {
            text-align: center;
            margin: 0;
          }
        }
        .icon-cart-new {
          font-size: 3rem;
          &:before {
            color: $white !important;
          }
        }
    }
    fieldset{
        &.scheduler-border {
            border: .1rem solid #ebebeb !important;
            padding: 0 1rem 1rem 1rem !important;
            margin: 0 0 0 0 !important;
            &:first-child{
                flex: 1;
                margin-right: .7rem!important;
            }
            &:last-child{
                flex: 3;
                margin-left: .7rem!important;
            }
        }
    }
    legend{
        &.scheduler-border {
            font-size: 1.4rem !important;
            font-weight: 400 !important;
            text-align: left !important;
            width:auto;
            padding:0 1rem;
            border-bottom:none;
            text-transform: uppercase;
        }
    }
    .form-control{
        margin: 0 1rem;
        font-size: 1.4rem;
    }
}

.compare-sample {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  .compare {
    width: 50%;
    .custom-checkbox {
      line-height: 1.6;
      label {
        font-size: 1.5rem;
        color: $dark-grey;
      }
      .custom-control-label{
        &::before{
          background-color: $white;
          border: 1px solid $checkboxbrder;
          width: 2.5rem;
          height: 2.5rem;
          top: 0;
          border-radius: 0!important;
        }
        &::after {
          width: 2.5rem;
          height: 2.5rem;
          top: 0;
        }
      }
      .custom-control-input:checked~.custom-control-label::before {
        background-color:$theme-primary !important;
      }
      label {
        margin-left: 1.7rem;
      }
    }
  }
  .sample {
    text-align: right;
    width: 50%;
    .btn {
      padding: 0.7rem 2.5rem 0.5rem;
      i {
        font-size: 1.4rem;
      }
    }
  }
}

.consult-us {
  button {
    padding: 1rem 0 1rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem !important;
    &:first-child {
      background: #69c533;
      border: 0.1rem solid $border;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  i {
    font-size: 2.5rem;
    &.icon-phone {
      &:before {
        color: #65b954 !important;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
    .quick-pad{
        flex-direction: column;
    }
    .quick-multi-carousel{
        margin-right: 0;
    }
    .quick-desc{
        margin-top: 1.5rem;
        margin-left: 0;
    }

    .extra-details{
        flex-direction: column;
        fieldset{
            &.scheduler-border{
                flex: 0 0 100%!important;
                &:first-child{
                    margin-right: 0!important;
                }
                &:last-child{
                    margin-left: 0!important;
                }
            }
        }
    }

    .product-multi-carousel{
        margin-right: 0;
    }
    .product-desc{
        margin-left: 0;
        margin-top: 0;
    }
}

.product-detail{
    .product-multi-carousel{
        margin: 0;
        &.gallery {
          .carousel-item {
            &.active {
              position: relative;
              .free-sample-section {
                position: absolute;
                bottom: 7.7rem;
                background: rgba(244, 244, 244, 0.5);
                z-index: 1000;
                justify-content: flex-start;
                align-items: center;
                display: flex;
                width: 100%;
                padding: 1rem 0 1rem 1rem;
                .btn {
                  text-transform: capitalize !important;
                  font-size: 1.3rem;
                  padding: 0.7rem 1.4rem;
                }
              }
            }
          }
        }
    }
    .product-desc{
        margin: 0;
    }
}

@media only screen and (max-width: 567px) {
    .product-detail{
        .product-desc{

        }
    }
}

.share-widjet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    color: #999;
    border-bottom: .1rem solid #ebebeb;
    position: relative;
    &-new {
      padding: 0;
      margin: 1rem 0 0;
      .btn {
        float: left;
      }
    }
    .reviews{
        color: $theme-secondary;
        display: flex;
        flex: 1;
        margin-left: 1rem;
    }
    .share-this{
        i{
            font-size: 1.6rem;
            margin-left: .5rem;
        }
    }
    .add-to-cart{
        float: none;
    }
}

.product-pad{
    .product-desc{
        .bxdetail{
          .product-features-pdp {
            font-size: 1.4rem;
            color: $dark-grey;
            ul {
              list-style: none;
              margin: 0;
              padding: 0;
              li {
                margin: 0;
                padding: 0.5rem 0 0;
                i {
                  font-size: 0.5rem;
                  color: $dark-grey;
                  margin-right: 1rem;
                }
              }
            }
          }
            .price{
              margin-bottom: 1.5rem;
              padding-bottom: 0;
              .price-per-box {
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                align-items: center;
                .box-price {
                  font-size: 1.8rem;
                  color: $dark-grey;
                  font-weight: 400 !important;
                  margin-right: 0.5rem;
                }
                .value-per-box {
                  font-size: 1.4rem;
                  color: $grey-new;
                  margin: 0;
                  font-weight: 300 !important;
                }
              }
              .off-price {
                display: flex;
                .actual-price-container {
                  display: flex;
                  margin: 0;
                  justify-content: flex-start;
                  flex-direction: row;
                  .actual {
                    display: flex;
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: $light-gray;
                    text-decoration: line-through !important;
                  }
                  .thai-baht {
                    display: flex;
                    margin: 0 !important;
                    text-decoration: none !important;
                    font-size: 1.4rem;
                  }
                }
                .discount {
                  font-size: 1.5rem;
                  font-weight: 600;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
              .coverage-area-unit{
              margin-left: 1rem;
              .area-sell-unit {
                font-size: 1.3rem;
                font-weight: 700;
                text-transform: capitalize;
              }
            }
            .price-qty {
              justify-content: flex-start;
              .price-per-sqm, .qty-box {
                border-right: 0.1rem solid $border;
                display: flex;
                flex-direction: column;
                .offer {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  flex-direction: row;
                  .offer-price {
                    font-size: 2.2rem;
                    font-weight: 600;
                    margin-right: 0.5rem;
                  }
                  .thai-baht {
                    color: $dark-grey;
                    font-size: 1.4rem;
                  }
                }
                label {
                  text-transform: none;
                  small {
                    &.thai-baht {
                      font-size: 1.077rem;
                      display: inline;
                      color: $theme-secondary;
                    }
                  }
                  + {
                    label {

                    }
                  }
                }
                .actual {
                  small {
                    &.thai-baht {
                      color: $light-gray;
                    }
                  }
                }
              }
              .qty-box {
                border: 0;
              }
            }
              &-new {
                margin: 1.3rem 0;
                .offer {
                  font-size: 2.462rem;
                  font-weight: 600;
                  small {
                    font-size: 1.4rem;
                    display: inline;
                    color: $theme-secondary;
                  }
                }
                .discount {
                  margin: 0 1rem !important;
                }
                .actual {
                  color: $light-gray;
                  text-decoration: line-through;
                  font-size: 1.3rem;
                }
              }
              small{
                display: block;
                color: #999;
                font-size: 1.2rem;
              }
        }
}
        .other-details{
            border: 0;
            margin: 0;
            padding: 0;
            .form-check-label{
                margin-left: .5rem;
            }
        }
    }
    .extra-details{
        .btn{
            &.btn-cart{
                background-color: $theme-primary;
                color: #fff;
            }
        }
        .scheduler-border{
            flex: 0 0 48%!important;
            text-align: center;
            margin: 0!important;
            padding: 0 1rem 1rem 1rem!important;
        }
    }
}

.other-styles {
    display: block;
    float: left;
    margin: 0 0 1rem 0;
    width: 100%;
    h4 {
      font-size: 1.4rem;
      font-weight: 400;
      margin: 1rem 0 .7rem 0;
      width: 100%;
      display: block;
      float: left;
    }
    .styles {
      display: block;
      float: left;
    }
}
.color-badge{
    width: 3rem;
    height: 3rem;
    display: inline-block;
    border: .1rem solid #ebebeb;
    margin-right: 1rem;
    &.more{
        background-color: #ccc;
        color: #555;
        font-size: 1.3rem!important;
        line-height: 3rem;
        text-align: center;
    }
}

.coverage-area{
    background: rgba($theme-primary-light, 0.1);
    padding: 1rem;
    margin: 1rem 0 0;
    form{
        font-size: 1.3rem;
        justify-content: space-between;
        justify-content: flex-start;
    }
    .form-control{
        font-size: 1.3rem;
        border-radius: .1rem;
        width: 9rem;
        margin: 0 1rem;
    }
    .btn{
        border-radius: .1rem;
        background-color: $theme-secondary;
        border: .1rem solid #ddd;
        font-size: 1.4rem;
        color: #555;
        text-transform: uppercase;
        margin-right: 1rem;
    }
    .form-row {
      .calculate-btn {
        margin-top: 2.4rem;
      }
      .form-control{
        font-size: 1.3rem;
        border-radius: .1rem;
        width: 100% !important;
        margin: 0 !important;
      }
      .form-group {
        &.quantity{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin: 1rem 0;
          padding: 0;
          label {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0;
            // flex-grow: 8;
          }
          select {
            width: 10rem !important;
          }
        }
      }
    }
    .result {
      // background: $white;
      text-align: center;
      justify-content: center;
      margin: 0.5rem 0 0 0;
    }
    .message {
      padding: 1rem 0 0 0;
      margin: 0;
      color: $grey;
    }
}

@media only screen and (max-width: 991px) {
    .product-pad{
        .extra-details{
            flex-direction: row;
        }
    }
}

.similar-items{
    &.pad{
        padding: 1.5rem 0 0 0;
    }
    .item-wrap{
        padding: 0;
        background-color: #fff;
        justify-content: space-between;
        align-items: stretch;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .items{
        flex: 0 0 48%;
        margin: 1.5rem .75rem 0 .75rem!important;
    }
}

@media only screen and (max-width: 991px) {
    .similar-items{
        .item-wrap{
            .items{
                flex: 0 0 48%;
                margin: 4% 0 0 0;
            }
        }
    }
}

@media only screen and (max-width: 440px) {
    .similar-items{
        .item-wrap{
            .items{
                flex: auto;
            }
        }
    }
}

.similar-items{
    h1{
        border-bottom: .1rem solid #ebebeb;
        padding: 0 0 1.5rem 0;
        margin: 0 0 0 0;
        font-size: 1.8rem;
        font-weight: 600;
        text-transform: uppercase;
        color: #555;
    }
    .bxdetail{
        background-color: #fff;
    }
}

.recommended-products{
    margin-bottom: 2rem;
    .bxdetail{
        background-color: #fff;
        h2{
            text-align: left;
        }
    }
}

.required-accessories,
.recommended-products{
    background-color: #fff;
    h1{
        border-bottom: .1rem solid #ebebeb;
        padding: 1.5rem 0;
        margin: 0 0 1.5rem 0;
    }
    .item-wrap{
        background-color: #fff;
        padding: 1rem 3.5rem 2.5rem 3.5rem;
    }
    .carousel-control-next,
    .carousel-control-prev{
        width: 3rem;
        opacity: 1;
    }
}

.required-accessories,
.recommended-products{
    .bxdetail{
        border-top: .1rem solid #ebebeb;
        h2{}
        .btn{
//            border-radius: .1rem;
//            background-color: $theme-primary;
//            margin-top: 1rem;
//            color: #fff;
//            text-transform: uppercase;
//            border: .1rem solid #ebebeb;
        }
    }
}

@media only screen and (max-width: 440px) {

    .item-wrap{
        padding: 0 0 1.5rem 0;
        justify-content: flex-start;
        .items{
            flex: 0 0 100%;
            margin: 0;
        }
    }

    .required-accessories,
    .recommended-products{
        .item-wrap{
            background-color: #fff;
            padding: 0 3rem 1.5rem 3rem;
        }

    }
}

/*Rating Modal*/
.rating {
  position: relative;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  h4 {
    text-align: center;
    color: $grey;
  }
  & + .rating-popover {
    .popover {
      display: none;
      position: absolute;
      background: $offwhite;
      border: 1px solid $border;
      z-index: 2000;
      width: 30rem;
      padding: 1rem;
      left: -10rem;
      top: 3rem;
      box-shadow: 0 2px 4px rgba(0,0,0,.13);
      &::after, &::before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &::before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #ebebeb;
        border-width: 11px;
        margin-left: -11px;
      }
      &::after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: $soft-grey-new;
        border-width: 10px;
        margin-left: -10px;
      }
      .rating-progress-container {
        .progress {
          margin: 1rem 0;
          height: 2rem;
          width: 64%;
          float: left;
          .progress-bar {
            background-color: $theme-primary;
          }
        }
        .star-count {
          width: 18%;
          float: left;
          margin: 1rem 0;
          padding: 0 0.5rem 0 0;
          height: 2rem;
          color: $theme-primary;
          font-size: 1.2rem;
          line-height: 2rem;
        }
        .percentage {
          width: 18%;
          float: left;
          margin: 1rem 0;
          padding: 0 0.5rem 0 0.5rem;
          height: 2rem;
          color: $grey;
          font-size: 1.2rem;
          line-height: 2rem;
        }
      }
      a {
        text-align: center;
        display: block;
        text-decoration: none;
        color: $theme-primary;
        float: left;
        margin: 0 auto;
        width: 100%;
        font-size: 1.4rem;
        i {
          margin-left: 0.4rem;
          margin-top: 0.3rem;
          line-height: 1rem;
          font-size: 1rem;
        }
      }
    }
  }
}

/*Installation Services*/
.installation-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(77, 81, 189, 0.1);
  padding: 0 1rem;
  h4 {
    width: 40%;
    small {
      display: block;
      font-size: 1rem;
    }
  }
  .input-group {
    width: 60%;
    .form-control{
      font-size: 1.1rem;
    }
    .btn {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      font-size: 1.2rem;
    }
  }
}

/*New Shop Promotion*/
.shop-promotion-new {
  .card-body {
    max-height: 12rem;
    padding-bottom: 0;
    overflow-y: scroll;
    .list-group-item {
      padding: 0.8rem 0;
    }
    a {
      color: $tipslink;
      &:hover, &:active, &:visited {
        color: $tipslink;
      }
    }
      i {
        font-size: 0.7rem;
        &:before {
          color: $dark-grey;
        }
      }
  }
}
/*Instlaltion Services New*/
.installation-section-new-container {
  position: relative;
  .icon-button-moredetail {
    position: absolute;
    top: 5.1rem;
    right: 2rem;
    color: $theme-tertiary;
    font-size: 2rem;
    &:before {

    }
  }
  .installation-section-new {
    background: #fafafa;
    padding: 1rem;
    border: 0.1rem solid #bebbbb;
    border-left: 0.5rem solid $theme-primary;
    flex-direction: column;
    padding: 1.3rem;
    p {
      font-size: 1.4rem;
      color: $dark-grey;
      margin: 0;
      span {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.11;
        color: $theme-secondary;
      }
    }
    input[type=text] {
      width: 21.9rem;
      border: solid 1px $border-new;
      background-color: $white;
      padding: 0.9rem 0.75rem;
      font-size: 1.4rem;
      color: $dark-grey;
      border-right: 0;
    }
    .check-availability {
      display: flex;
      justify-content: flex-start;
      @include breakpoint-down (xs) {
        width: 100%;
      }
      .btn {
        border-radius: 4;
        background-color: $light-gray;
        color: $white !important;
        font-size: 1.6rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        @include breakpoint-down (xs) {
          width: 100%;
        }
      }
    }
  }
  h4 {
    i {
      font-size: 2rem;
      &:before {
        color: $grey-new;
      }
    }
  }
}

.installation-service {
  border: 0.1rem solid $border;
  padding: 1rem;
  width: 100%;
  float: left;
  margin: 0 0 1.4rem 0;
  position: relative;
  background: $theme-tertiary-light;
  h4 {
    padding-left: 2.5rem;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
  }
  p {
    display: block;
    float: left;
    width: 40%;
    padding: 0 1rem 0 0;
  }
  .service-inactive {
    opacity: 0.3;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: $white;
    z-index: 1;
  }
  .service-active {
    display: none;
  }
  .bximg {
    display: block;
    float: left;
    width: 12rem;
    padding: 0.5rem;
  }
  .installation-details {
    float: left;
    padding: 0;
    width: 60%;
    border: 0.1rem solid $soft-gray;
    h4 {
      color: $grey !important;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      font-weight: 700;
    }
    .form-check {
      margin-bottom: 0.5rem;
      background: $white;
      margin: 0;
      padding: 0.8rem 1.5rem 0.8rem 2.5rem;
      border-bottom: 1px solid $border;
      &:last-child {
        border-bottom: 0;
      }
      label {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        display: flex;
      }
      small {
        float: right;
        font-family: 'Lato', sans-serif;
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
    .more-details {
      position: relative;
      color: $theme-primary;
      position: absolute;
      right: 0.5rem;
      bottom: 0.5rem;
      cursor: pointer;
      -webkit-user-select: none;  /* Chrome all / Safari all */
      -moz-user-select: none;     /* Firefox all */
      -ms-user-select: none;      /* IE 10+ */
      user-select: none;          /* Likely future */
      .nonoc-popover {
        display: none;
        position: absolute;
        background: $offwhite;
        border: 1px solid $border;
        z-index: 2000;
        width: 20rem;
        padding: 1.5rem;
        left: -10rem;
        top: 3rem;
        box-shadow: 0 2px 4px rgba(0,0,0,.13);
        &::after, &::before {
          bottom: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }
        &::before {
          border-color: rgba(194, 225, 245, 0);
          border-bottom-color: #ebebeb;
          border-width: 11px;
          margin-left: -11px;
        }
        &::after {
          border-color: rgba(136, 183, 213, 0);
          border-bottom-color: $soft-grey-new;
          border-width: 10px;
          margin-left: -10px;
        }
        &.moredetails {
          h4 {
            color: $grey !important;
            font-size: 1.4rem;
          }
          ul {
            padding: 0;
            margin: 0 0 2rem 2rem;
            li {
              color: $grey;
            }
          }
        }
      }
    }
  }
  .select-installation {
    display: inline;
    position: absolute;
    top: -3.7rem;
    left: 1rem;
    z-index: 2;
    cursor: pointer;
  }
}

/*Installation New*/
.installation {
  h4 {
    padding-left: 2.5rem;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .external-link {
    padding: 1rem 0 1rem 1.8rem;
    font-size: 1.3rem;
  }
  .installation-cost-area {
    padding: 0 3rem 0 3rem;
    .cost {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cost-left {

      }
      .cost-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      span {
        font-family: 'Lato', sans-serif;
        font-size: 1.1rem;
        font-weight: 400;
        margin-right: 1rem;
      }
      small {
       font-size: 1.1rem;
       font-weight: 500;
       margin-left: 2.5rem;
     }
    }
    .fee {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .fee-left {

      }
      .fee-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      span {
        font-family: 'Lato', sans-serif;
        font-size: 1.3rem;
        font-weight: 700;
        margin-right: 5.2rem;
      }
      small {
       font-size: 1.1rem;
       font-weight: 500;
       margin-left: 2.5rem;
     }
    }
     .form-control-plaintext {
       width: 20%;
       font-family: 'Lato', sans-serif;
       font-size: 1.3rem;
       text-transform: capitalize;
       font-weight: 700;
       text-align: right;
       border: 0.1rem solid $border;
     }
  }
  .installation-details {
    padding: 0;
    // border: 0.1rem solid $border;
    justify-content: space-around;
    flex-direction: column;
    padding: 0 1.8rem 0 0;
    h4 {
      color: $grey !important;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      font-weight: 700;
    }
    .form-check {
      margin-bottom: 0.5rem;
      background: $white;
      margin: 0;
      padding: 0.8rem 0 0.8rem 2.5rem;
      flex: 100%;
      // border-right: 0.1rem solid $border;
      &:last-child {
        border-right: 0;
      }
      label {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        display: flex;
      }
      span {
        float: right;
        font-family: 'Lato', sans-serif;
        font-size: 1.3rem;
        font-weight: 700;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        small {
          font-family: 'Raleway', sans-serif;
          font-size: 1.1rem;
          font-weight: 500;
          margin-left: 1.7rem;
        }
      }
    }
    .more-details {
      position: relative;
      color: $theme-primary;
      position: absolute;
      right: 0.5rem;
      bottom: 0.5rem;
      cursor: pointer;
      -webkit-user-select: none;  /* Chrome all / Safari all */
      -moz-user-select: none;     /* Firefox all */
      -ms-user-select: none;      /* IE 10+ */
      user-select: none;          /* Likely future */
      .nonoc-popover {
        display: none;
        position: absolute;
        background: $offwhite;
        border: 1px solid $border;
        z-index: 2000;
        width: 20rem;
        padding: 1.5rem;
        left: -10rem;
        top: 3rem;
        box-shadow: 0 2px 4px rgba(0,0,0,.13);
        &::after, &::before {
          bottom: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }
        &::before {
          border-color: rgba(194, 225, 245, 0);
          border-bottom-color: #ebebeb;
          border-width: 11px;
          margin-left: -11px;
        }
        &::after {
          border-color: rgba(136, 183, 213, 0);
          border-bottom-color: $soft-grey-new;
          border-width: 10px;
          margin-left: -10px;
        }
        &.moredetails {
          h4 {
            color: $grey !important;
            font-size: 1.4rem;
          }
          ul {
            padding: 0;
            margin: 0 0 2rem 2rem;
            li {
              color: $grey;
            }
          }
        }
      }
    }
  }
}

/*More Details Modal*/
.more-details-modal {
  ul {
    list-style: none;
    margin: 0.8rem 0 0 0;
    padding: 0;
    li {
      padding: 0;
      margin: 0 0 0.5rem 0;
    }
  }
}




/*Choose Style button*/
.products-from-collection {
  h4 {
    color: $dark-grey;
    font-weight: 400;
  }
  i {
    font-size: 2rem;
    &:before {
      color: $grey-new;
    }
  }
}

.choose-style-btn-container {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  height: 60px;
  border: 1px solid $border;
  border-radius: 0.4rem;
  align-items: center;
  justify-content: space-between;
  padding: 1.3rem;
  .bximg {
    width: 4rem;
  }
  .choose-label {
    color: $light-gray;
    font-size: .813rem;
    position: absolute;
    top: .5rem;
    left: 1.4rem;
    pointer-events: none;
  }
  a {
    color: $grey;
    text-decoration: none;
    &:hover, &:visited {
      color: $grey;
      text-decoration: none;
    }
    &.choose {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 0;
      // padding: 1.6rem 3rem .25rem 1.4rem;
      padding: 0.5rem 3rem 0.5rem 1rem;
      height: 5rem;
      width: 100%;
      color: $grey;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
      &:hover, &:visited {
        color: $grey;
        text-decoration: none;
      }
    }
  }
  i {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: $theme-quaternary;
    position: absolute;
    right: 2rem;
    pointer-events: none;
    font-size: 2rem;
  }
}
/*Side Nav*/
.sidenav {
  display: block;
  width: 40rem;
  height: 100%;
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  background-color: $white;
  overflow-x: hidden;
  transition: 0.5s;
  border-left: 1px solid $border;
  ul {
    list-style: none;
    margin: 0;
    padding: 1.2rem;
    li {
      background: $white;
      padding: 1rem;
      margin-bottom: 2rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      border: 1px solid rgba(27,31,35,0.15);
      border-radius: 0.3rem;
      box-shadow: 0 0.1rem 0.5rem rgba(27,31,35,0.15);
      h4 {
        width: 100%;
        text-transform: capitalize;
      }
      .color-badge {
        width: 6rem;
        height: 6rem;
        display: flex;
        border: .1rem solid $offwhite;
        margin-right: 1rem;
        flex-grow: 1;
      }
      .name-price {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-grow: 8;
        font-family: 'Lato', sans-serif;
        .offer {
            color: $theme-secondary;
          }
          .actual {
            color: #999;
            text-decoration: line-through;
          }
          .discount {
            background-color: #e23f30;
            color: #fff;
            text-transform: uppercase;
            font-size: 1.1rem;
            padding: .2rem .5rem;
            font-weight: 500;
            margin-left: .2rem;
        }
      }
      .view-details {
        display: flex;
        align-items: center;
        flex-grow: 1;
        a {
          color: $theme-primary;
          font-size: 1.3rem;
          text-decoration: none;
          padding: 0;
          &:hover {
            text-decoration: underline;
          }
          &:active, &:visited {
            color: $theme-primary;
            text-decoration: none;
          }
        }
      }
    }
  }
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
      &:hover {
          color: #f1f1f1;
      }
    }
    .head {
      background: $offwhite;
      display: flex;
      // justify-content: space-between;
    .closebtn {
      font-size: 2.5rem;
      padding: 1rem;
      margin: 0;
    }
    h3 {
      padding: 1rem;
      margin: 0;
      line-height: 2;
    }
  }
}
.sidenav-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}
.shipping-promotion{
    background: #fdf5e7;
    padding: 0.5rem;
    margin: 1rem 0;
    color: $base-color;
    width: auto;
    font-size: 1.2rem;
    text-align: center;
    border: 1px dashed $border;
    border-radius: 2px;
    font-weight: 300;
    display: flex;
    width: 100%;
    text-transform: capitalize;
    // text-align: center;
    // justify-content: center;
    &.applied {
      background-color:rgba(228,61,39,0.1);
      i {
        background-color: $theme-secondary;
      }
      &-green {
        background-color: $white;
        border-color: $success;
        color: $success;
        font-weight: bold;
        justify-content: center;
        i {
          background-color: $white;
          color: $success;
          border: 0.1rem dashed $success;
        }
      }
    }
    &.shipping-rates {
      background-color:rgba(241,174,75,0.1);
      i {
        background-color: #f1ae4b;
      }
    }
    &.coupon {
      background-color:rgba(0,158,167,0.1);
      i {
        background-color: $theme-primary;
      }
    }
    span {
      float: inherit !important;
    }
    i {
      color: $white;
      background: $theme-secondary;
      border-radius: 50%;
      padding: 0.5rem;
      border: 1px dashed $border;
      font-size: 1.3rem;
      margin-right: 1rem;
      font-weight: 700;
    }
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*Add to cart inline message*/
.addto-cart-message {
  display: flex;
  justify-content: space-around;
  border:0.1rem solid $border;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 3rem 0;
  background: $white;
  .product-image {
    display: flex;
    padding: 1rem 4rem 1rem 1rem;
    background: $border;
    background-color: rgba(0, 158, 167, 0.1);
    img {
      border: 0.1rem solid $theme-primary;
    }
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0 1.5rem;
      i {
        font-size: 2rem;
        color: $theme-primary;
      }
    }
    .bximg {
      width: 5rem;
    }
    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6rem;
      color: $theme-primary;
      padding: 0 0 0 2rem;
      margin: 0;
    }
  }
  .cart-details {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    color: $grey;
    margin: 0;
    padding-left: 2rem;
    flex-direction: column;
    h2 {
      justify-content: flex-start;
      margin: 0;
      padding: 0;
      font-size: 1.8rem;
      span {
        font-weight: 600;
        color: $theme-primary;
        padding: 0 0 0 1rem;
        font-family: 'Lato', sans-serif;
      }
    }
  }
  .button-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 2;
    padding-right: 2rem;
    .btn {

    }
  }
}
.rating-progress-container {
  background: red;
  .progress {
    margin: 1rem 0;
    height: 2rem;
    width: 64%;
    float: left;
    .progress-bar {
      background-color: $theme-primary;
    }
  }
  .star-count {
    width: 18%;
    float: left;
    margin: 1rem 0;
    padding: 0 0.5rem 0 0;
    height: 2rem;
    color: $theme-primary;
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .percentage {
    width: 18%;
    float: left;
    margin: 1rem 0;
    padding: 0 0.5rem 0 0.5rem;
    height: 2rem;
    color: $grey;
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

/*product-more-details*/
.product-more-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  i {
    // margin-right: 1rem;
    width: 1.5rem;
    // margin-left: -2.5rem;
    color: $grey-new;
    font-size: 2rem;
    &:before {
      color: $grey-new;
    }
  }
  .icon-installationincluded {
    font-size: 2rem;
  }
  .icon-terms{
    font-size: 2rem;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 1rem 0;
      list-style: none;
      font-size: 1.3rem;
      color: $litegrey-color;
      display: flex;
      justify-content: flex-start;
      border-bottom: 0.1rem solid $border-new;
      &:nth-child(3) {
        border: 0;
      }
      span {
        margin-left: 0.6rem;
        list-style: none;
      }
      ul {
        margin: 1rem 0 0;
        padding: 0;      
        li {
          // margin-left: 3.6rem;
          list-style: none;
          border: 0;
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          i {
            font-size: 0.5rem;
            color: #6c6c6c;
            margin-right: 0;
            width: inherit;
            margin-right: 1rem;
          }
        }
      }
      i {
        // margin-right: 1rem;
        width: 4rem;
        display: flex;
        justify-content: flex-start;
        // margin-left: -2.5rem;
        color: $grey-new;
      }
      h3 {
        font-size: 1.538rem;
        margin-bottom: 0;
        font-weight: 500;
        color: $dark-grey;
      }
      a {
        color: $theme-tertiary;
        text-decoration: none;
        &:hover {
          text-decoration: none;
          opacity: 0.6;
        }
        &:active, &:visited {
          text-decoration: none;
        }
      }
    }
  }
}

/*Calculate Area*/
.area-calculator{
  i {
    .icon-ruler {
      font-size: 2rem;
    }
  }
  .head {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 1.538rem;
    h4 {
      margin: 0;
    }
    .icon-ruler {
      font-size: 2rem;
    }
    .icon-downarrow {
      font-size: 1.154rem;
      display: flex;
      align-items: center;
    }
  }

  .calculate-section {
    padding: 0;
    padding-top: 0;
    input[type="number"] {
      font-size: 1.5rem;
      font-weight: 500;
      width: 11rem;
      color: $dark-grey !important;
    }
    label {
      font-size: 1.2rem;
    }
    .form-control {
      padding: 0.8rem 0.75rem;
      &::placeholder {
        color: $dark-grey !important;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: $dark-grey !important;
      }

      &::-ms-input-placeholder {
        color: $dark-grey !important;
      }
    }
    .calculate {
      padding: 0.7rem 0.75rem !important;
      width: 11rem;
      font-size: 1.6rem !important;
      color: $dark-grey;
    }
    .form-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      span {
         font-size:  1rem;
         margin-left: 0.5rem;
      }
      a {
        font-size: 1.4rem;
        color: $theme-primary;
      }
      i {
        font-size: 1.7rem;
      }
    }
    .form-group {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      .btn {
        margin: 0;
      }
    }
  }

  .calculation-result {
    border-top: 0.1rem solid $border;
    padding: 1.538rem;
    font-size: 1.2rem;
    .results {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      .units {
        width: 34%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      span {
        color: $theme-secondary;
        font-weight: 600;
        display: block;
        float: left;
        font-size: 1.3rem;
      }
      small {
        font-size: 1.2rem;
        margin-left: 0.5rem;
      }
    }
  }
}

.calculate-area {
  padding-bottom: 2.5rem;
  small {
    font-size: 1.3rem;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: left;
    color: $litegrey-color;
  }
  .btn-primary {
    text-transform: capitalize;
    padding-bottom: 0.4rem;
    background: #e8e6ed !important;
    border-color: #e8e6ed !important;
    color: $grey !important;
  }
  form {
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }
  .form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 1.8rem .75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    border-radius: .1rem;
    &-plaintext {
      width: 100%;
      height: calc(2.25rem + 2px);
      padding: 1.8rem .75rem;
      background-color: transparent;
      border: solid transparent;
      color: $theme-secondary;
      font-size: 1.692rem;
      font-weight: 600;
      align-items: center;
    }
  }
  .calculator{
    align-items: center;
    justify-content: space-between;
    .form-control {
      width: 49%;
      text-align: center;
    }
    label {
      font-size: 1.3rem;
    }
    .btn {
      padding: 0.86rem;
      border-radius: 0!important;
      background: #fafafa !important;
      border: 0.1rem solid $border-new;
    }
    small {
      font-size: 1.077rem;
    }
  }
  .product-status {
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 1.8rem .75rem;
    background-color: transparent;
    border: solid transparent;
    font-size: 1.692rem;
    font-weight: 600;
    align-items: center;
    margin-top: 0.5rem;
    &.available {
      i {
        color: $green-new;
      }
    }
    &.low-stock {
      i {
        color: #f1ae4b;
      }
    }
  }
}

/*net-price*/
.net-price-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  label {
    font-size: 14px;
    line-height: 1.43;
    text-align: right;
    color: $light-gray;
    margin: 0;
  }
  .net-price {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
    text-align: right;
    color: $theme-secondary;
  }
}

/*Installation New*/
.installation {
  .btn-primary {
    text-transform: capitalize;
    padding-bottom: 0.4rem;
    // background: #e8e6ed !important;
    // border-color: #e8e6ed !important;
    // color: $grey !important;
  }
  .form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 1.4rem .75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    border-radius: .1rem;
  }
  .zipcode {

  }
}

/*Survey*/
.survey-modal {
  .modal-body {
    padding-bottom: 0;
  }
  .modal-footer {
    align-items: center;
    display: flex;
    justify-content: center;
    border: 0;
  }
}

/*Wishlist button style*/
.add-to-mywishlist {
  width: 15%;
  border: 0.1rem solid $theme-primary;
  i {
    color: $theme-primary;
    &:before {
      color: #100e37;
    }
  }
  .far {
    &.fa-heart  {
      display: block;
    }
  }
  .fas {
    &.fa-heart  {
      display: none;
    }
  }
  &.added {
    &:hover {
      background: $white;
      border: 0.1rem solid $theme-secondary;
      color: $theme-secondary !important;
    }
    .far {
      &.fa-heart  {
        display: none;
      }
    }
    .fas {
      &.fa-heart  {
        display: block;
      }
    }
  }
  &:hover, &:active, &:visited {
    border: 0.1rem solid $theme-quaternary;
  }
}

/*Product Terms & Conditions*/
.product-terms-conditions {
  margin-bottom: 2rem;
  .card-header {
    background-color: $offwhite-new;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    i {
      font-size: 3rem;
      margin-right: 1rem;
    }
    h4 {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: left;
      margin: 0;
      color: $dark-grey;
    }
  }
  .list-group-flush {
    margin: 0.5rem 0 0.5rem 0.5rem;
    .list-group-item {
      border: 0 !important;
      padding: .5rem 1.25rem;
      i {
        margin-right: 1rem;
        color: #6c6c6c;
        font-size: 0.7rem;
      }
    }
  }
}

/*Product Terms & Conditions*/
.offers-new {
  margin-bottom: 2rem;
  .card-header {
    background-color: $offwhite-new;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    i {
      font-size: 3rem;
      margin-right: 1rem;
    }
    h4 {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: left;
      margin: 0;
      color: $dark-grey;
    }
  }
  /*Free delivery*/
  .free-delivery {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: $green;
    i {
      &:before {
        color: $green;
        font-size: 2rem;
        margin-right: 1rem;
      }
    }
  }
}

/*Free delivery*/
.free-delivery {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.3rem;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: $green;
  i {
    &:before {
      color: $green;
      font-size: 2rem;
      margin-right: 1rem;
    }
  }
}

/*Free Smaple*/
.free-sample-pdp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .btn {
    background: $theme-tertiary;
    color: $white;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.33;
    width: 20rem;
    padding: 1rem 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 0;
    i {
      font-size: 2rem;
      margin-right: 1rem;
    }
  }
  span {
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: $theme-primary;
  }
}

/*Site Survey*/
.site-survey {
  margin-bottom: 2rem;
  border: 0;
  .site-survey-left {
    width: 3.4rem;
    i {
      font-size: 2.4rem;
    }
  }
  .site-survey-right {
    
  }
  .card-body {
    background-color: $theme-primary-soft;
    border: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    h1 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: left;
      margin: 0.5rem 0 0.5rem 0.4rem;
      P {
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.67;
      }
      i {
        font-size: 2.4rem;
        margin-right: 1rem;
        &:before {
          left: -2rem;
        }
      }
    }
    .btn {
      border: 0.1rem solid $border;
      border-radius: 0.4rem !important;
    }
  }
}

/*Distributing Firm*/
.distributing-firm {
  margin-bottom: 2rem;
  .distributer-img {
    position: relative;
    .distributer-logo {
      position: absolute;
      width: 8rem;
      height: 8rem;
      border: 0.1rem solid $dark-grey;
      border-radius: 50%;
      display: flex;
      overflow: hidden;
      top: 70%;
      left: 37%;
    }
  }
  .card-header {
    background-color: $offwhite-new;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    i {
      font-size: 3rem;
      margin-right: 1rem;
    }
    h4 {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: left;
      margin: 0;
      color: $dark-grey;
    }
  }
  h6 {
    font-size: 1.4rem;
    font-weight: 400;
    color: $light-gray;
  }
  button {
    padding: 0.8rem 5.3rem;
  }
}

.recent-viewed-pdp {
  background: $white;
  padding: 2.5rem;
  h1 {
    font-size: 1.8rem;
    font-weight: 500;
    color: $theme-quaternary;
    margin-bottom: 1.5rem;
  }
  .recent-viewed-pdp-images {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .bximg {
      width: 10rem;
      height: 10rem;
      border: solid 1px #e4e4e4;
      margin-right: 1rem;
    }
  }

}

.tag-pdp {
  border: solid 1px $border-new;
  background-color: #fafafa;
  padding: 1rem;
  font-size: 1.4rem;
  color: $dark-grey;
  position: relative;
  margin-bottom: 3rem;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 !important;
  }
  .tag-pdp-content {
    padding: 1rem;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        i {
          font-size: 0.5rem;
          color: #6c6c6c;
          margin-right: 0;
        }
      }
    }
  }
  .tag-img {
    // position: absolute;
    // left: 0;
    // top:0
  }
}

@media only screen and (max-width: 991px){
  .area-calculator {
    .calculation-result {
      .results {
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 768px){
  .product-tab {
    .nav-tabs {
      .nav-link {
        padding: 1rem;
      }
    }
  }
}
@media only screen and (max-width: 575px){
  .installation {
    .zipcode {
      width: 30%;
    }
  }
}
@media only screen and (max-width: 440px) {
  .addto-cart-message {
      width: 100%;
      justify-content: center;
    .product-image {
      display: flex;
      padding: 1rem;
      width: 100%;
    }
    .cart-details {
      justify-content: center;
      font-size: 1.6rem;
      margin: 0;
      flex-direction: column;
      width: 100%;
      text-align: center;
      padding: 1rem 0 0;
    }
    .button-section {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 1rem 0;
      width: 100%;
    }
  }
  .installation {
    .zipcode {
      width: 40%;
    }
  }
  .installation {
    .installation-cost-area {
      .cost {
        .cost-right {
          width: 50%;
        }
      }
    }
  }
  .area-calculator {
    .calculation-result {
      .results {
        .units {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: right;
        }
        span {
          float: left;
          text-align: right;
        }
        small {
          text-align: right;
        }
      }
    }
  }
}

/*Seller Profile Section*/
.seller-profile-section-pdp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 1.4rem;
  @include breakpoint-down(sm) {
    flex-direction: column;
    padding: 0;
  }
  h1 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.25;
    color: #101010;
    @include breakpoint-down(sm) {
      font-size: 1.4rem;
    }
  }
  h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #101010;
    @include breakpoint-down(sm) {
      font-size: 1.3rem;
    }
  }
  h4 {
    font-size: 1.4rem;
    font-weight: 300;
    color: #939393;
    @include breakpoint-down(sm) {
      font-size: 1.2rem;
    }
  }
  .seller-profile-section-one {
    display: flex;
    justify-content: flex-start;
    width: 30%;
    @include breakpoint-down(md) {
      width: 100%;
      flex-wrap: wrap;
    }
    @include breakpoint-down(sm) {
      width: 100%;
    }
    .img-seller {
      width: 10.2rem;
      height: 10.2rem;
      margin-right: 2.4rem;
      @include breakpoint-down(sm) {
        width: 4rem;
        height: 4rem;
        margin-right: 1.5rem;
      }
      img {
        border-radius: 50%;
      }
    }
    .seller-profile-info {
      display: flex;
      flex-direction: column;
    }
  }
  .seller-profile-section-two {
    width: 37%;
    @include breakpoint-down(md) {
      width: 50%;
    }
    @include breakpoint-down(sm) {
      width: 100%;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      li {
        width: 50%;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin: 0;
        padding: 1.4rem 0;
        @include breakpoint-down(sm) {
          width: 33%;
          text-align: center;
        }
        &:last-child {
          @include breakpoint-down(sm) {
            display: none;
          }
        }
        h4 {
          line-height: 1.5;
        }
      }
    }
  }
  .seller-profile-section-three {
    width: 33%;
    @include breakpoint-down(md) {
      width: 50%;
    }
    @include breakpoint-down(sm) {
      width: 100%;
    }
    .button-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      .btn {
        width: 49%;
      }
    }
  }
}
