body{
    &.preloader{
        position: relative;
        overflow: hidden;
    }
}
.bg-loader{
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
    //background-color: rgba(0, 0, 0, .8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.loader {
    border: .75rem solid #f3f3f3;
    border-radius: 50%;
    border-top: .75rem solid $theme-primary;
    width: 6rem;
    height: 6rem;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    &.md{
        width: 4rem;
        height: 4rem;
        border-width: .5rem;
        border-top-width: .5rem;
    }
    &.sm{
        width: 3rem;
        height: 3rem;
        border-width: .3rem;
        border-top-width: .3rem;
    }
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}